/**
 * Base Styles
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html { font-size: 62.5%; }
body {
	background: #ffffff;
	color: #2e3d48;
	font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	-ms-text-size-adjust: 100%;
}
body { display: flex; min-height: 100vh; flex-direction: column; }
.container { margin: 0 auto; max-width: 800px; padding: 0 1rem; }

/**
 * Links
 */
a { color: #1C9BC5; text-decoration: none; }
a:hover { color: #056495; }
a:active { color: #E05020; }


/**
 * Utilities
 */
.u-text-center { text-align: center; }
.u-left { float: left; display: inline-block; }
.u-right { float: right; display: inline-block; }
.u-clearfix { zoom:1; }
.u-clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 700;
}
h1 { font-size: 2.5em; line-height: 1.2; }
h2 { font-size: 2.25em; line-height: 1.25; }
h3 { font-size: 1.9em; line-height: 1.3; }
h4 { font-size: 1.4em; line-height: 1.35; }
h5 { font-size: 1.3em; line-height: 1.5; }
h6 { font-size: 1.2em; line-height: 1.6; }
p { margin-top: 0; }
hr { border: none; border-bottom: 1px solid #F6F6F6; margin: 1.5rem auto; }
pre {
	overflow: auto;
	background: #f9f9f9;
	padding: 10px;
	font-size: .8em;
	word-wrap: normal;
}

ul.inline {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.inline li { display: inline-block; }

/** 
 * Misc
 */
*[hidden] { display:none; }





/** 
 * Header
 */
header {
	font-size: .9em;
	padding: 1em 0;
}
header .header-nav li {margin-right: 1em;}
header .header-nav li:last-child { margin-right: 0; }


/**
 * Main
 */
.main {
	margin: 1em 0 5em;
	flex: 1;
}

/**
 * Post
 */
.post {
	background: #ffffff;
	margin: 2em 0;
}
.post:first-child { margin-top: 0; }
.post-content {
	word-wrap: break-word;
}
.post-meta {
	font-size: .7em;
	color: #AAA;
}
.post-meta span { margin-right: 10px; }
.post-meta span:last-child { margin-right: 0; }
.post-feedback {
	font-size: .8em;
	color: #aaa;
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid #f6f6f6;
}
.post-image {
    background: #f5f5f5;
    padding: 1rem;
}
.post-image > img { width: 100%; }

.post-image > figcaption { text-align: center; font-size: .8em; color: #aaa; }

fieldset {
	padding: 15px 20px;
	margin-bottom: 20px;
	border: 1px solid #F6F6F6;
	border-radius: 4px;
}

legend {
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
	padding: 0 .5em;
	margin-left: -.5em;
	position: relative;
	background: #fff;
}

/**
 * Form
 */
.form .form-group {
	margin-bottom: 1em;
}
fieldset .form-group:last-of-type {
	margin-bottom: 0;
}
.form .form-group.required .form-label:after {
	color: #c51c1c;
	content: ' *';
}

.form .form-label {
	font-size: .9em;
	color: #626262;
	font-weight: normal;
	display: block;
}
.form .desc {
	font-size: .8em;
	color: #C1C1C1;
	font-weight: normal;
	display: block;
	margin-top: 5px;
}

.input {
	height: 40px;
	padding: 8px 10px;
	vertical-align: middle;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}
.input-big {
	width: 100%;
	box-sizing: border-box;
}

select,
textarea {
	display: block;
	width: 100%;
	line-height: 1.75;
	padding: 8px 10px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #dfdfdf;
}


textarea:disabled,
select:disabled,
input:disabled,
textarea.disabled,
select.disabled,
input.disabled {
	resize: none;
	opacity: .8;
}

textarea:focus,
select:focus,
input:focus {
	outline: none;
	background: #fff;
	border-color: #bbb;
}

/* Button's */
.btn {
	background: #fff;
	color: #2e3d48;
	border: 1px solid #dfdfdf;

	border-radius: 2px;
	padding: 10px 28px;

	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;

	-webkit-transition: border .3s, background .3s, color .3s;
	transition: border .3s, background .3s, color .3s;

	vertical-align: middle;
	-webkit-appearance: none;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	
}
.btn:hover {
	outline: none;
	background: #fff;
	color: #2e3d48;
	border-color: #bbb;
}
.btn.btn-cancle {
	border-color: transparent;
}
.btn:disabled,
.btn.disabled {
	cursor: no-drop;
	opacity: .8;
}

/**
 * Footer
 */
footer {
	background: #FFFFFF;
	font-size: .7em;
	padding: 1em 0;
	color: #AAA;
}




/**
 * Media
 */
@media (max-width: 740px) {
	.warp { margin: 0 10px; }
}

#ambiance-notification {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* Built in custom styling for the notifications. */
.ambiance-title {
  font-weight: bold;
}

.ambiance {
  float: right;
  clear: both;
  border: 3px solid transparent;
}

.ambiance:hover {
  border: 3px solid #DDDDDD;
}

.ambiance-default, .ambiance-success, .ambiance-error {
  border-radius: 5px;
  -moz-border-radius: 5px; /* Firefox 3.6 and earlier. */
  padding: 10px;
  margin: 10px;
}

.ambiance-default {
  background: #000000;
  color: #DDDDDD;
}

.ambiance-success {
  background: #468847;
  color: #DFF0D8;
}

.ambiance-error {
  background: #B94A48;
  color: #F2DEDE;
}

/* Close button attributes -- based off Twitter Bootstrap alert close item. */
.ambiance-close {
  display: block;
  position: relative;
  top: -2px;
  right: 0px;
  color: #FFFFFF;
  float: right;
  font-size: 18px;
  font-weight: bold;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: relative;
  line-height: 14px;
  margin-left: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ambiance-close:hover {
  color: #BBBBBB;
  cursor: pointer;
}