/* :--[v6.r]--: */
body, html {
	font-family: 'Open Sans', sans-serif;
	color: #6A7179;
	font-weight: 300;
	font-size: 15px;
	position: relative;
}
hr {
	border-style: none none none none;
	margin: 10px 0;
	border-bottom: 1px solid #F1F4F9;
}
a { color: #16a085;
	-webkit-transition: .3s;
	transition: .3s;
}
a:hover { color: #D14836; }
a:active { color: #056495; }
a.nolink { text-decoration: none; }
.warp { margin: 0px auto; width: 800px; }
.left { float: left; }
.right { float: right; }


/*
================
=====HEADER=====
================
*/
header {
	background-color: #ecf0f1;
}
header .header-name {
	float: left;
}
header .header-name a {
	background: #16a085;
	color: #fff;
	display: block;
	padding: 14px 15px;
	line-height: 20px;
	font-size: 25px;
	font-weight: 300;
	text-decoration: none;
}
header .header-menu {
	float: left;
}
header .header-menu li {
	position: relative;
	display: block;
	float: left;
}
header .header-menu li a {
	color: #2c3e50;
	display: block;
	padding: 14px 15px;
	line-height: 20px;
	font-size: 15px;
	text-decoration: none;
}
header .header-button {
	float: right;
}
header .header-button li {
	position: relative;
	display: block;
	float: left;
}
header .header-button li a {
	color: #2c3e50;
	display: block;
	padding: 14px 16px;
	line-height: 20px;
	font-size: 19px;
	background: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	width: 48px;
	height: 48px;
}
header .header-menu li a:hover,
header .header-button li a:hover {
	color: #16a085;
}
header .header-button #bars { display: none; }

/*
=================
=====CONTENT=====
=================
*/
section {
	padding: 20px 0;
	position: relative;
	line-height: 160%;
}

/*
==============
=====POST=====
==============
*/
.post {
	width: 100%;
	padding: 0 0 20px 0;
	overflow: hidden;
}
.post .post-title {
	display: inline-block;
	font-size: 25px;
	line-height: 34px;
	color: #6A7179;
}
.post .post-title a {
	display: inline-block;
	text-decoration: none;
	color: #6A7179;
}
.post .post-title a:hover {
	color: #16a085;
}
.post .post-date {
	color: #999;
	font-size: 11px;
}
.post .post-text p { margin: 5px 0; }
.post .post-text ul { list-style: square inside; }
.post .post-text ul { list-style: square inside; }

/*
===============
=====SHARE=====
===============
*/
.share {}
.share-text {
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 10px 0 0;
}
.share-block {
	display: inline-block;
	float: left;
	height: 35px;
}
.share-block a {
	background: #16a085;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	width: 35px;
	height: 35px;
	display: inline-block;
	cursor: pointer;
}
.share-block a#vk { background-color: #51749C; }
.share-block a#fb { background-color: #45639E; }
.share-block a#tw { background-color: #23B9EB; }
.share-block a#po { background-color: #16a085; }
.share-block a:hover { opacity: .9; }

/*
====================
=====LOGIN FORM=====
====================
*/
.login-form {
	width: 350px;
	margin: 20px auto;
}
.login-form p {
	margin: 10px 0;
}
.login-form .input {
	width: 100%;
}

/*
=======================
=====ADD POST FORM=====
=======================
*/
.addpost-form {

}
.addpost-form #subject {
	background: #fff;
	border: none;
	padding: 15px 0;
	font-size: 20px;
	display: block;
	width: 100%;
	outline: none;
}
.addpost-form #slug {
	background: #fff;
	border: none;
	padding: 10px 0;
	font-size: 16px;
	display: block;
	width: 100%;
	outline: none;
}

/*
====================
=====PAGINATION=====
====================
*/
.paginator {
	border-top: 1px solid #F1F4F9;
	text-align: center;
	font-size: 14px;
	padding: 25px 0;
	overflow: hidden;
}
.paginator .paginator-item {
	color: #B3B3B3;
	text-decoration: none;
}
.paginator .paginator-item:hover {
    color: #16a085;
}

/*
================
=====FOOTER=====
================
*/
footer {
	color: #B3B3B3;
	margin: 5px 0;
	padding: 20px 0;
	font-size: 11px;
	text-align: center;
}
footer p {
	padding: 5px 0;
}

/*
=================
=====BUTTONS=====
=================
*/
.btn {
	background-color: #16a085;
	color: #fff;
	border: none;
	padding: 8px 20px;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
.btn:hover {
	background-color: #1A4580;
	color: rgba(255, 255, 255, 0.6);
}
/*Button Half-life 3*/
.btn-half {
	width: 50%;
	display: inline-block;
}
/* Button Big */
.btn-big {
	width: 100%;
	display: block;
}
/* Button Gray */
.btn-gray {
	background-color: #DDD;
	color: #000;
}
.btn-gray:hover {
	background: #BBB;
	color: #777;
}
/* Button Cancle*/
.btn-cancle {
    background: initial;
    color: initial;
}
.btn-cancle:hover {
    background: #f5f5f5;
    color: initial;
}

/*
===============
=====INPUT=====
===============
*/
.input {
	background: #FFF;
	border: 1px solid #EDEDED;
	padding: 10px 15px;
	display: inline-block;
	outline: none;
	font-size: 15px;
	-webkit-transition: .3s;
	transition: .3s;
}
.input:hover,
.input:active,
.input:focus {
	background: #FAFAFA;
	border-color: #DFDFDF;
}
/* Input Big */
.input-big {
	width: 100px;
	display: block;
}

/*
==================
=====404 PAGE=====
==================
*/
.err-message {
	padding: 20px 0;
}
.err-message h2 {
	color: #16a085;
	font-size: 13em;
	line-height: 160%;
	font-weight: 100;
}
.err-message p {
	color: #16a085;
	font-size: 2em;
	font-weight: 100;
}



/*
===============
=====ALERT=====
===============
*/
.alert {
	background: #16a085;
	color: #FFF;
	padding: 7px 12px;
	text-align: center;
}
.alert .close {
	position: absolute;
	top: 50%;
	right: 20px;
	color: inherit;
	margin-top: -8px;
	opacity: 1;
}
.alert.success { background: #7FBA00; }
.alert.warning { background: #FCF8E3; }
.alert.error { background: #D14836; }



/*
===============
=====VIDEO=====
===============
*/
.video {
	height: 281px;
	width: 500px;
	margin: 0 auto;
}



/* :--[Media]--: */
@media screen and (max-width: 845px){
	.warp { width: auto; }
	section { padding: 20px 15px; }
	header .header-menu {
		display: none;
		position: relative;
		float: left;
		width: 100%;
		padding: 0;
		overflow: hidden;
	}
	header .header-menu li {
		border-bottom: 1px solid #F1F4F9;
		display: block;
		float: none;
	}
	header .header-menu li a:hover {
		background: #f6f6f6;
	}
	header .header-menu.active  { display: block; }
	header .header-button #bars { display: inline-block; }
	.post .post-image {
		width: 80px;
		height: 80px;
	}
}
@media screen and (max-width: 550px) {
	.video {
		height: 213px;
		width: 380px;
	}
}
@media screen and (max-width: 430px){
	.login-form { width: 100%; }
	.post .post-image {
		width: 40px;
		height: 40px;
	}
	.video {
		height: 168px;
		width: 300px;
	}
}